@page "/Test"
@rendermode InteractiveServer

<h1>Test</h1>

@if (word != "test")
{
    <p role="word">Enter password to continue:</p>

    <input type="text" @bind-value="word" @bind-value:event="oninput" />
}
else
{

}

@code {
    private string word { get; set; }
}
